/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #141b1e;
    background-alt: #232a2d;
    foreground:     #dadada;
    selected:       #8ccf7e;
    active:         #8ccf7e;
    urgent:         #E67E80FF;
}
